@model List<P5M.Models.AbsensiViewModel>
@using System.Globalization
@{
    DateTime tanggalMulai = (DateTime)ViewData["tanggalMulai"];
    DateTime tanggalSelesai = (DateTime)ViewData["tanggalSelesai"];
    int selisih = (int)(tanggalSelesai - tanggalMulai).TotalDays;
    int inc = 1;
}
<div class="row">
    <div class="col-lg-12">
        <table class="table datatable">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center" colspan="@selisih"></th>
                </tr>

                <tr>
                    <th scope="col" style="text-align: center" rowspan="3">No</th>
                    <th scope="col" style="text-align: center" rowspan="3">Nim</th>
                    <th scope="col" style="text-align: center" rowspan="5">Nama</th>
                </tr>
                <tr>
                    @for (int i = 0; i <= selisih; i++)
                    {
                        <th scope="col" style="text-align: center" colspan="2">@tanggalMulai.ToString("dd-MM-yyyy")</th>
                        tanggalMulai = tanggalMulai.AddDays(1);
                    }
                </tr>
                <tr>
                    @for (int i = 0; i <= selisih; i++)
                    {
                        <th scope="col" style="text-align: center">IN</th>
                        <th scope="col" style="text-align: center">OUT</th>
                    }
                </tr>
            </thead>
            @{
                selisih = selisih + 1;
                var cekTrue = false;
                int cbix = 0;
            }
            <tbody>
                @foreach (var nim in (List<string>)ViewData["nimarray"])
                {

                    tanggalMulai = (DateTime)ViewData["tanggalMulai"];
                    int ib = 0;
                    <tr>
                        <td>@inc</td>
                        <td>@nim</td>
                        <td>@(((List<string>)ViewData["namaarray"])[inc - 1])</td>
                        @foreach (var mahasiswa in Model)
                        {
                            ib++;
                            if (nim == mahasiswa.nim)
                            {
                                cekTrue = false;
                                cbix = 0;

                                @foreach (var tanggal in (List<string>)ViewData["tanggalarray"])
                                {
                                    if (tanggalMulai.ToString("dd-MM-yyyy").Equals(tanggal))
                                    {
                                        cekTrue = true;
                                        <td style="background-color: green; color: white">@(((List<string>)ViewData["namaLiburarray"])[cbix])</td>
                                        <td style="background-color: green; color: white">@(((List<string>)ViewData["namaLiburarray"])[cbix])</td>
                                    }
                                    cbix++;
                                }

                                if (cekTrue == false)
                                {   
                                    if (tanggalMulai.ToString("dd-MM-yyyy") == mahasiswa.tanggal)
                                    {
                                        DateTime inTimeDateTime = DateTime.ParseExact(mahasiswa.inTime, "HH:mm:ss", CultureInfo.InvariantCulture);
                                        DateTime outTimeDateTime = DateTime.ParseExact(mahasiswa.outTime, "HH:mm:ss", CultureInfo.InvariantCulture);

                                        DateTime batasInTime = DateTime.ParseExact("07:30:59", "HH:mm:ss", CultureInfo.InvariantCulture);
                                        DateTime batasOutTime = DateTime.ParseExact("16:30:50", "HH:mm:ss", CultureInfo.InvariantCulture);

                                        TimeSpan selisihInTime = inTimeDateTime - batasInTime;
                                        TimeSpan selisihOutTime = batasOutTime - outTimeDateTime;
                                        if (inTimeDateTime.TimeOfDay < new TimeSpan(12, 0, 0))
                                        {
                                            if (selisihInTime.TotalMinutes > 0)
                                            {

                                                <td style="color: tomato">@mahasiswa.inTime</td>

                                            }
                                            else
                                            {
                                                <td>@mahasiswa.inTime</td>
                                            }

                                        }
                                        else
                                        {
                                            <td style="background-color: tomato;"></td>
                                        }
                                        if (outTimeDateTime.TimeOfDay > new TimeSpan(12, 0, 0))
                                        {
                                            <td>@mahasiswa.outTime</td>
                                        }
                                        else
                                        {
                                            <td style="background-color: tomato;"></td>
                                        }
                                    }
                                    else
                                    {
                                        DateTime tanggalMahasiswa = DateTime.ParseExact(mahasiswa.tanggal, "dd-MM-yyyy", CultureInfo.InvariantCulture);
                                        int selisih2 = (int)(tanggalMahasiswa - tanggalMulai).TotalDays;
                                        @for (int j = 0; j <= selisih2; j++)
                                        {
                                            if (tanggalMulai.ToString("dd-MM-yyyy") == mahasiswa.tanggal)
                                            {
                                                DateTime inTimeDateTime = DateTime.ParseExact(mahasiswa.inTime, "HH:mm:ss", CultureInfo.InvariantCulture);
                                                DateTime outTimeDateTime = DateTime.ParseExact(mahasiswa.outTime, "HH:mm:ss", CultureInfo.InvariantCulture);

                                                DateTime batasInTime = DateTime.ParseExact("07:30:00", "HH:mm:ss", CultureInfo.InvariantCulture);
                                                DateTime batasOutTime = DateTime.ParseExact("16:30:00", "HH:mm:ss", CultureInfo.InvariantCulture);

                                                TimeSpan selisihInTime = inTimeDateTime - batasInTime;
                                                TimeSpan selisihOutTime = batasOutTime - outTimeDateTime;
                                                cekTrue = false;
                                               cbix = 0;

                                                @foreach (var tanggal in (List<string>)ViewData["tanggalarray"])
                                                {
                                                    if (tanggalMulai.ToString("dd-MM-yyyy").Equals(tanggal))
                                                    {
                                                        cekTrue = true;
                                                        <td style="background-color: green; color: white">@(((List<string>)ViewData["namaLiburarray"])[cbix])</td>
                                                        <td style="background-color: green; color: white">@(((List<string>)ViewData["namaLiburarray"])[cbix])</td>
                                                    }
                                                    cbix++;
                                                }

                                                if (cekTrue == false)
                                                {
                                                    if (inTimeDateTime.TimeOfDay < new TimeSpan(12, 0, 0))
                                                    {
                                                        if (selisihInTime.TotalMinutes > 0)
                                                        {
                                                            <td style="color: tomato">@mahasiswa.inTime</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@mahasiswa.inTime</td>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <td style="background-color: tomato;"></td>
                                                    }
                                                    if (outTimeDateTime.TimeOfDay > new TimeSpan(12, 0, 0))
                                                    {
                                                        <td>@mahasiswa.outTime</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="background-color: tomato;"></td>
                                                    }
                                                }

                                            }
                                            else
                                            {
                                                if (tanggalMulai <= tanggalSelesai)
                                                {
                                                    cekTrue = false;
                                                    cbix = 0;

                                                    @foreach (var tanggal in (List<string>)ViewData["tanggalarray"])
                                                    {
                                                        if (tanggalMulai.ToString("dd-MM-yyyy").Equals(tanggal))
                                                        {
                                                            cekTrue = true;
                                                            <td style="background-color: green; color: white">@(((List<string>)ViewData["namaLiburarray"])[cbix])</td>
                                                            <td style="background-color: green; color: white">@(((List<string>)ViewData["namaLiburarray"])[cbix])</td>
                                                        }
                                                        cbix++;
                                                    }

                                                    if (cekTrue == false)
                                                    {
                                                        <td style="background-color: tomato;"></td>
                                                        <td style="background-color: tomato;"></td>
                                                    }
                                                }
                                            }

                                            if (j < selisih2)
                                            {
                                                tanggalMulai = tanggalMulai.AddDays(1);
                                            }
                                        }

                                    }
                                }
                                tanggalMulai = tanggalMulai.AddDays(1);
                            }
                        }
                        @{
                            int selisih3 = (int)(tanggalSelesai - tanggalMulai).TotalDays;
                        }
                        @if (selisih3 >= 0)
                        {
                            for (int i = 0; i <= selisih3; i++)
                            {
                                cekTrue = false;
                                cbix = 0; 

                                @foreach (var tanggal in (List<string>)ViewData["tanggalarray"])
                                {
                                    if (tanggalMulai.ToString("dd-MM-yyyy").Equals(tanggal))
                                    {
                                        cekTrue = true;
                                        <td style="background-color: green; color: white">@(((List<string>)ViewData["namaLiburarray"])[cbix])</td>
                                        <td style="background-color: green; color: white">@(((List<string>)ViewData["namaLiburarray"])[cbix])</td>
                                    }
                                    cbix++;
                                }

                                if (cekTrue == false)
                                {
                                    <td style="background-color: tomato;"></td>
                                    <td style="background-color: tomato;"></td>
                                }
                                tanggalMulai = tanggalMulai.AddDays(1);
                            }
                        }
                    </tr>
                    inc++;
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Initialize Datatables for the second table
        var table = new simpleDatatables.DataTable('.datatable');
    });
</script>

